<div *isGranted="'ROLE_USER'">
    <div class="container-fluid m-3">
        <div class="d-flex flex-column align-items-center">
          <div *ngFor="let eventProfile of paginatedEvents" class="mb-3 w-100 w-md-80 w-lg-75">
            <app-event-profile [eventProfile]="eventProfile"></app-event-profile>
          </div>

        <nav
        *ngIf="paginatedEvents.length>=5"
           aria-label="paginator">
          <ul class="pagination justify-content-center mt-4">
            <li class="page-item" [class.disabled]="currentPage === 1">
              <a class="page-link"  (click)="changePage(currentPage - 1)">prev</a>
            </li>

            <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
              <a class="page-link" (click)="changePage(page)">{{ page }}</a>
            </li>

            <li class="page-item" [class.disabled]="currentPage === totalPages">
              <a class="page-link"  (click)="changePage(currentPage + 1)">next</a>
            </li>
          </ul>
      </nav>
</div>
</div>
</div>
<div *isGranted="'ROLE_MUTED'">
        <div class="container-fluid m-3">
            <div class="d-flex flex-column align-items-center">
              <div *ngFor="let eventProfile of paginatedEvents" class="mb-3 w-100 w-md-80 w-lg-75">
                <app-event-profile [eventProfile]="eventProfile"></app-event-profile>
              </div>

            <nav
            *ngIf="paginatedEvents.length>=5"
               aria-label="paginator">
              <ul class="pagination justify-content-center mt-4">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <a class="page-link"  (click)="changePage(currentPage - 1)">prev</a>
                </li>

                <li *ngFor="let page of pages" class="page-item" [class.active]="page === currentPage">
                  <a class="page-link" (click)="changePage(page)">{{ page }}</a>
                </li>

                <li class="page-item" [class.disabled]="currentPage === totalPages">
                  <a class="page-link"  (click)="changePage(currentPage + 1)">next</a>
                </li>
              </ul>
          </nav>
    </div>
    </div>
</div>
<div *isGranted="'ROLE_ADMIN'">
<table mat-table [dataSource]="events" class="mat-elevation-z8"  >
    <ng-container *ngFor="let item of headers" [matColumnDef]="item.fieldName" >
      <th mat-header-cell *matHeaderCellDef [style.font-family]="'whitestorm'" [style.font-size]="'3vw'" > {{item.header}} </th>
      <td mat-cell *matCellDef="let element" [style.font-family]="'cardinal'" [style.font-size]="'3vw'" > {{element[item.fieldName]}} </td>
    </ng-container>
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef [style.font-family]="'whitestorm'" [style.font-size]="'3vw'"> Actions </th>
        <td mat-cell *matCellDef="let element">
            <button (click)="selectEvent(element, 0)" mat-raised-button color="primary"  [style.font-size]="'3vw'" [style.font-family]="'cardinal'">
                View
            </button>
            <button (click)="selectEvent(element, 1)" mat-raised-button color="primary"  [style.font-size]="'3vw'" [style.font-family]="'cardinal'">
                Delete
            </button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="eventNamesFields"></tr>
    <tr mat-row *matRowDef="let row; columns: eventNamesFields"></tr>
  </table>
  </div>

