.bar {
    margin: 0.5rem 0 3rem;
    font-family: 'charming';
    font-size: 6vw;
  }
  
  .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .createButton,
  .archiveButton {
    color: black;
    /* можно добавить background-color и box-shadow */
  }
  
  .icon {
    font-size: 6vw;
    text-align: center;
  }
  