.table-wrapper {
    overflow-x: auto;
    width: 100%;
  }
  
  .full-table {
    width: 100%;
  }
  
  .header-cell, .cell {
    font-size: 1.2vw;
    font-family: 'whitestorm';
    text-align: center;
    padding: 10px;
  }
  
  .card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;


  }
  
  .user-card {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

  }
  
  .card-item {
    margin-bottom: 8px;
    font-family: 'cardinal';
    font-size: 4vw;
    
  }
  
  .card-actions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 10px;
    font-family: 'whitestorm';
  }
  
  @media (min-width: 768px) {
    .card-wrapper {
      display: none;
    }
    .card-actions {
    border-bottom: 2px solid black;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
  }
  
  @media (max-width: 767px) {
    .table-wrapper {
      display: none;
    }

    .card-actions {
        border-bottom: 2px solid black;
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
  }
  