/* You can add global styles to this file, and also import other style files */
body{
    background-color: #d2ccbc;
    overflow: visible

}

@font-face {
    font-family: cardinal;
    src: url(assets/fonts/cardinal/Cardinal.ttf) format("opentype");
}

@font-face {
    font-family: whitestorm;
    src: url(assets/fonts/whitestorm/T4C-Beaulieux.ttf) format("opentype");
}

@font-face {
    font-family: charming;
    src: url(assets/fonts/charming/Achafsex.ttf) format("opentype");
}

.mat-datepicker-toggle{
  }
 .custom-datepicker {
    background: #a09782 !important;
    border-radius: 10%;
    box-shadow: 0px 8px 8px 0px #dbcca3 !important;;
  }
 .mat-calendar-body{
    font-family: 'cardinal'!important;
    font-size: 1.6vw !important;
  }
 .mat-calendar-body-cell-content{
    border-radius: 10% !important;
    background: #dad1bd !important;
  }


 .custom-datepicker .mat-calendar-body-today:not(.mat-calendar-body-selected){
    font-family: 'charming';
    font-size: 2.3vw;
  }
