/* You can add global styles to this file, and also import other style files */
body{
    background-color: #d2ccbc;
    overflow: visible

}

@font-face {
    font-family: cardinal;
    src: url(assets/fonts/cardinal/Cardinal.ttf) format("opentype");
}

@font-face {
    font-family: whitestorm;
    src: url(assets/fonts/whitestorm/T4C-Beaulieux.ttf) format("opentype");
}

@font-face {
    font-family: charming;
    src: url(assets/fonts/charming/Achafsex.ttf) format("opentype");
}

